// OPA Variables

// Create New ASA/OPA Service Account and Assign to the Owners Group
opa_key = "xxx" //Key from above Service Account
opa_secret = "xxx" //Secret from above Service Account
opa_team = "xxx" // ASA/OPA Team Name

// AWS Variables

// Create/Use appropriate IAM Role 
aws_region = "us-west-2" // AWS Region - Please use a region with 4 AZs eg: us-west-2
aws_access_key = "xxx" //AWS Access Key
aws_secret_key = "xxx" //AWS Secret Key
aws_role_arn = "arn:aws:iam::XXXXX:role/opa-build-role" // AWS Role ARN - Replace XXXXX with your AWS Account ID
